/* 1. Estilo para la etiqueta body */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

/* 2. Estilo para la etiqueta header */
header {
    background-color: #2c3e50;
}

/* 3. Estilo para la etiqueta nav */
nav {
    background-color: #34495e;
}

/* 4. Estilo para la etiqueta main */
main {
    background-color: #f4f4f4;
    font-size: 1.1rem;
}

/* 5. Estilo para la etiqueta footer */
footer {
    background-color: #222222;
}

/* 6. Estilo para la etiqueta li */
li {
    display: inline-block;
    width: 120px;
}

/* 7. Estilos para la etiqueta h1 */
h1 {
    text-align: center;
    font-family: 'Helvetica', sans-serif;
    color: #333333;
}

/* 8. Estilo para la etiqueta p */
p {
    line-height: 1.6;
}
